@use "common" as *;

.blog-wrap {
  &:hover{
    .thumb{
      img{
        transform: scale(1.1);
      }
    }
  }
  .thumb {
    overflow: hidden;

    img {
      width: 100%;
      @include transition(0.3s);
    }
  }

  .content {
    padding-top: 30px;
    .meta {
      margin-bottom: 20px;
      a {
        color: #848e9f;

        &:hover {
          color: $theme-color-2;
          i{
            color:  $theme-color-2;
          }
        }
      }

      span {
        letter-spacing: 1px;
        font-size: 14px;
        font-weight: 700;
        color: #848e9f;
        display: inline-block;
        position: relative;
        text-transform: uppercase;
        margin-right: 30px;
        @include transition(0.3s);

        i{
          color: $theme-color;
          @include transition(0.3s);
        }

        &:last-child {
          margin-right: 0;

          &:after {
            display: none;
          }
        }

        &:after {
          position: absolute;
          content: "";
          font-size: 8px;
          color: #a0a2a6;
          font-family: "Font Awesome 5 Pro";
          right: -22px;
          transform: rotate(66deg);
          top: 5px;
          font-weight: 900;
        }
      }
    }

    .title {
      font-size: 22px;
      line-height: 1.5;
      margin-bottom: 20px;

      a {
        color: #222;

        &:hover {
          color: $theme-color-2;
        }
      }
    }

    .read-more {
      font-size: 18px;
      color: #222;

      i {
        margin-left: 5px;
      }

      &:hover {
        color: $theme-color-2;
        letter-spacing: 1px;
      }
    }
  }
}