@use "common" as *;

.section-title {
  .sub-title {
    font-size: 20px;
    color: #222;
    font-weight: 700;
    margin-bottom: 5px;
  }

  .title {
    font-size: 50px;
    color: #222;
    font-weight: 700;
  }
}